@font-face {
  font-family: Adventure;
  src: url("../public/font/adventure/Adventure.otf");
}
@font-face {
  font-family: Advent;
  src: url("../public/font/advent-pro/AdventPro-Regular.ttf");
}
@font-face {
  font-family: Cantarell;
  src: url("../public/font/cantarell/Cantarell-Regular.ttf");
}
@font-face {
  font-family: Rajdhani;
  src: url("../public/font/rajdhani/Rajdhani-Regular.ttf");
}
*{
  margin: 0;
  padding: 0;
}